body {
    width: 100%;
    height: calc(100vh - 68px);
    margin: 0;
    font-family: 'Open Sans', Arial, sans-serif;
    overflow: hidden;
}
nav {
    display: flex;
    flex-direction: row;
    height: 66px;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 10;
    margin-bottom: 2px;
}

#location-map{
    background: #fff;
    border: none;
    height: 100%;
    width: 100%;
    position: relative;
}

.formBlock {
    max-width: 300px;
    background-color: #fff;
    border: 1px solid;
    position: absolute;
    top: 80px;
    left: 10px;
    padding: 10px;
    z-index: 999;
    box-sizing: 0 1px 5px rgba(0,0,0,0.65);
    border-radius: 5px;
    width: 100%;
}

.input {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 15px;
    border-radius: 3px;
}

#form {
    padding: 0;
    margin: 0;
}

.formBlock #results li{
    font-size: 15px;
    list-style: none;
    padding: 8px 12px;
    cursor: default;
    border-radius: 3px;
}

.formBlock #results li:hover{
    background: #efefef;
}

input:nth-child(1) {
    margin-bottom: 10px;
}

h1 {
    text-align: center;
    position: absolute;
    margin: 0 auto;
    width: 100%;
    color: rgb(92, 92, 92);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 21px;
}
.group-name {
    color: #818181;
    font-size: 18px;
}
#map {
    width: 100%;
    height: 100%;
}
.fgv-popup-container {
    font-size: 21px;
}
.fgv-popup-container img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.fgv-popup-container .leaflet-popup-content-wrapper, .fgv-popup-container .leaflet-popup-tip {
    background-color: #efefef;
    color: #818181;
    text-align: center;
}
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
.legend {
    line-height: 18px;
    color: #555;
    padding: 10px;
    padding-top: 5px;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.selects {
    display: none;
    margin-bottom: 10px;
}

.inputs {
    display: none;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.dist {
    display: none;
}
#dist-value {
    display: block;
    margin-top: 5px;
    padding: 5px;
}

.selects h5 {
    margin: 10px auto 10px auto;
}

.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    text-align: center;
}

.active, .collapsible:hover {
background-color: #ccc;
}

.selects .inputs .none{
padding: 0 18px;
display: none;
overflow: hidden;
background-color: #f1f1f1;
}